---
layout: default
---
<head>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/css/lightgallery.min.css" integrity="sha256-8rfHbJr+ju3Oc099jFJMR1xAPu8CTPHU8uP5J3X/VAY=" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/justifiedGallery.min.css">
</head>
        
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/js/lightgallery-all.min.js" integrity="sha256-iphi7YzsTszI9qIu+wdvvmlc1P8T3AUHJ5MUm8EqczI=" crossorigin="anonymous"></script>
<script src="/assets/js/jquery.justifiedGallery.min.js"></script>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  
</article>

<script type="text/javascript">
    $(document).ready(function() {
        $(".justified-gallery")
            .justifiedGallery({lastRow : 'justify', margins : 5})
            .lightGallery({
                thumbnail:true,
                selector: "[data-lightbox]",
                autoplayFirstVideo: true,
                loadYoutubeThumbnail: true,
                youtubeThumbSize: 'default',
                youtubePlayerParams: {
                    modestbranding: 1,
                    showinfo: 0,
                    rel: 0,
                    controls: 1
                }
            });
    });
</script>

<div
class="just-comments"
data-apikey="fe74df6e-24ce-4230-92a3-8176c255a9aa">
</div>
<script async src="https://just-comments.com/w.js"></script>